<ion-header no-border>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <img class="center-logo" [src]="themeService.navbarLogoUrl" [ngClass]="{'center-logo-ios': isIOS() }">
    <ion-buttons right>
      <button ion-button icon-only go-adding-device>
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <empty-devices *ngIf="_deviceList.length == 0" empty-status></empty-devices>
  <ion-card [ngClass]="{'is-owner': isOwner}" *ngFor="let deviceItem of _deviceList">
    <ion-card-content>
      <div class="popit-title" margin-bottom>
        <ion-card-title (click)="toggleDetails(deviceItem)">
          <ion-icon class="popit-fab" color="orange" name="ios-alarm"
            *ngIf="getExpire(deviceItem.ExpireDate) < 14*60*60*24">
          </ion-icon>
          <ion-icon class="popit-fab" color="warningRed" name="ios-alarm" *ngIf="getExpire(deviceItem.ExpireDate) < 0">
          </ion-icon>
          {{ deviceItem?.DevName }}
          <font class="popit-sub-title" color="grey" *ngIf="!deviceItem.showDetails">▼</font>
          <font class="popit-sub-title" color="primary" *ngIf="deviceItem.showDetails">▲</font>
        </ion-card-title>
        <ion-icon class="popit-fab" color="primary" name="ios-link" *ngIf="deviceItem.Online"></ion-icon>
        <ion-icon class="popit-fab" color="grey" name="ios-link" *ngIf="!deviceItem.Online"></ion-icon>
      </div>
      <div class="popit-content" *ngIf="!deviceItem.showDetails">
        <ion-grid class="toggle-grid">
          <h2>
            中獎: {{ deviceItem?.H61 }}
            投幣: {{ deviceItem?.H60 }}
            禮品: {{ deviceItem?.H62 }}
          </h2>
          <h2 *ngIf="deviceItem?.H63 != 0">
            錯誤代碼: {{ deviceItem?.H63 }}
          </h2>
        </ion-grid>
      </div>
      <div class="popit-content" *ngIf="deviceItem.showDetails">
        <ion-grid class="toggle-grid">
          <ion-row align-items-center>
            <ion-col col-8 class="none-padding">
              <h2>中獎率銀行: {{ deviceItem?.H61 }}</h2>
            </ion-col>
            <ion-col col-4 class="toggle-items none-padding">
              <button ion-button class="full-button" round icon-left color="primary" (click)="clearBank(deviceItem)"
                [disabled]="deviceItem.H61 == 0 || !deviceItem.Online">
                清零
              </button>
            </ion-col>
          </ion-row>
          <ion-row align-items-center>
            <ion-col col-8 class="none-padding">
              <h2>投幣遊戲次數: {{ deviceItem?.H60 }}</h2>
            </ion-col>
            <ion-col col-4 class="toggle-items none-padding">
              <button ion-button class="full-button" round icon-left color="primary" (click)="clearMoney(deviceItem)"
                [disabled]="deviceItem.H60 == 0 || !deviceItem.Online">
                清零
              </button>
            </ion-col>
          </ion-row>
          <ion-row align-items-center>
            <ion-col col-8 class="none-padding">
              <h2>禮品出獎次數: {{ deviceItem?.H62 }}</h2>
            </ion-col>
            <ion-col col-4 class="toggle-items none-padding">
              <button ion-button class="full-button" round icon-left color="primary" (click)="clearGift(deviceItem)"
                [disabled]="deviceItem.H62 == 0 || !deviceItem.Online">
                清零
              </button>
            </ion-col>
          </ion-row>
          <ion-row align-items-center>
            <ion-col class="none-padding">
              <h2>錯誤代碼: {{ deviceItem?.H63 }}</h2>
              <h2>資料更新時間: {{ deviceItem?.UpdateTime }}</h2>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div class="control-item-divider"></div>
        <h2>裝置序號: {{ deviceItem?.DevNo }}</h2>
        <h2>Wifi模組版本: {{ deviceItem?.VerNum }}</h2>
        <h2>SAA模組版本: {{ deviceItem?.SaaModel }}</h2>
        <h2>到期時間: {{ deviceItem?.ExpireTime }}</h2>
        <div class="popit-other-items">
          <button [ngStyle]="{ 'width':'48%' }" ion-button class="other-item" color="orange" round
            (click)="goPayment(deviceItem)">
            加值
          </button>
          <button [ngStyle]="{ 'width':'48%' }" ion-button class="other-item" round icon-left color="warningRed"
            (click)="deleteDeviceConfirm(deviceItem)" margin-vertical>
            <ion-icon name="close"></ion-icon>
            {{ 'DEVICE_SETTINGS.DELETE_DEVICE' | translate }}
          </button>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
<div *ngIf="!isLoggedIn" class="init-mask"></div>