<ion-header no-border>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <img class="center-logo" [src]="themeService.navbarLogoUrl" [ngClass]="{'center-logo-ios': isIOS() }">
    <ion-buttons right>
      <button ion-button icon-only (click)="refresh()">
        <ion-icon name="refresh"></ion-icon>
      </button>
      <button ion-button icon-only go-adding-device>
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <empty-devices *ngIf= "_deviceList.length == 0" empty-status></empty-devices>
  <ion-card [ngClass]="{'is-owner': isOwner}" *ngFor="let deviceItem of _deviceList">
    <ion-card-content>
      <div class="popit-title" margin-bottom>
        <ion-card-title (click)="toggleDetails(deviceItem)">
          {{ deviceItem?.name }}
          <font class="popit-sub-title" color="grey" *ngIf="!deviceItem.showDetails">▼</font>
          <font class="popit-sub-title" color="primary" *ngIf="deviceItem.showDetails">▲</font>
        </ion-card-title>
        <ion-icon class="popit-fab" color="primary" name="ios-link"*ngIf="deviceItem.status"></ion-icon>
        <ion-icon class="popit-fab" color="grey" name="ios-link"*ngIf="!deviceItem.status"></ion-icon>
      </div>
      <div class="popit-content" *ngIf="!deviceItem.showDetails">
        <ion-grid class="toggle-grid">
          <h2>
            保夾: {{ deviceItem?.bank }} 
            投幣: {{ deviceItem?.money }} 
            出獎: {{ deviceItem?.gift }}
          </h2>
        </ion-grid>
      </div>
      <div class="popit-content" *ngIf="deviceItem.showDetails">
        <ion-grid class="toggle-grid">
          <ion-row align-items-center>
            <ion-col col-8 class="none-padding">
              <h2>保夾累積: {{ deviceItem?.bank }}</h2>
            </ion-col>
            <ion-col col-4 class="toggle-items none-padding">
              <button ion-button class="full-button" round icon-left
                color="primary" (click)="clearBank(deviceItem)" [disabled]="deviceItem.bank == 0">
                清零
              </button>
            </ion-col>
          </ion-row>
          <ion-row align-items-center>
            <ion-col col-8 class="none-padding">
              <h2>投幣數: {{ deviceItem?.money }}</h2>
            </ion-col>
            <ion-col col-4 class="toggle-items none-padding">
              <button ion-button class="full-button" round icon-left
                color="primary" (click)="clearMoney(deviceItem)" [disabled]="deviceItem.money == 0">
                清零
              </button>
            </ion-col>
          </ion-row>
          <ion-row align-items-center>
            <ion-col col-8 class="none-padding">
              <h2>出獎數: {{ deviceItem?.gift }}</h2>
            </ion-col>
            <ion-col col-4 class="toggle-items none-padding">
              <button ion-button class="full-button" round icon-left 
                color="primary" (click)="clearGift(deviceItem)" [disabled]="deviceItem.gift == 0">
                清零
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
        <h2>到期時間: {{ deviceItem?.expiredate }}</h2>            
        <div class="control-item-divider"></div> 
        <div class="popit-other-items">  
          <button [ngStyle]="{ 'width':'48%' }" ion-button class="other-item" color="orange" round (click)="goPayment(deviceItem)">
              加值
          </button>
          <button [ngStyle]="{ 'width':'48%' }" ion-button class="other-item" round icon-left color="warningRed" 
            (click)="deleteDeviceConfirm(deviceItem)"
            margin-vertical>
            <ion-icon name="close"></ion-icon>
            {{ 'DEVICE_SETTINGS.DELETE_DEVICE' | translate }}
          </button>
        </div>  
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
<div *ngIf="!isLoggedIn" class="init-mask"></div>